@keyframes scaleUp {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }
}

#amount-field {
    background-color: var(--main-color);
    color: var(--opposite-color);
    text-align: center;
    border-radius: 10px;

    border: 1px solid var(--opposite-color);

    /* box-shadow: 0px 0px 21px -1px var(--shadow-color);
    -webkit-box-shadow: 0px 0px 21px -1px var(--shadow-color);
    -moz-box-shadow: 0px 0px 21px -1px var(--shadow-color); */
}


#amount-field:empty {
    background-color: var(--main-color);
}

#amount-field:hover {
    background-color: var(--opposite-color);
    color: var(--main-color);

    border: 1px solid var(--main-color);

    /* box-shadow: 0px 0px 21px -1px var(--shadow-color);
    -webkit-box-shadow: 0px 0px 21px -1px var(--shadow-color);
    -moz-box-shadow: 0px 0px 21px -1px var(--shadow-color); */
}


#generate-button {
    background: var(--opposite-color);
    /* --gradient:linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
    background: var(--gradient); */
    color: var(--main-color);
    border-radius: 10px;
    border-radius: 10px;
    /* box-shadow: 0px 0px 21px -1px var(--shadow-color);
    -webkit-box-shadow: 0px 0px 21px -1px var(--shadow-color);
    -moz-box-shadow: 0px 0px 21px -1px var(--shadow-color); */
    border: none;
    animation: scaleUp 2s ease-in-out infinite;
}

#generate-button:hover {
    background-color: var(--main-color);
    color: var(--opposite-color);
    border: 1px solid var(--opposite-color);
    /* box-shadow: 0px 0px 15px -1px var(--opposite-color);
    ;
    -webkit-box-shadow: 0px 0px 15px -1px var(--opposite-color);
    ;
    -moz-box-shadow: 0px 0px 15px -1px var(--opposite-color);
    ; */

}