@keyframes fadeInTop {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }




  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOutBot {
  0% {
    opacity: 1;
    transform: translateY(0);
  }




  100% {
    opacity: 0;
    transform: translateY(50px);
  }
}

.all-container {
  width: 100%;
  min-height: 90vh;
  display: flex;
  background: linear-gradient(180deg, var(--gradient-color-start) 0%, var(--gradient-color-end) 100%);
  justify-content: center;
  overflow: hidden;
  color: var(--text-color);

}

.all-container * {
  color: var(--text-color);

}


.hidden-containers {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  /* max-height: 70vh; */

  place-items: start;
  align-items: start;
  gap: 10vh;
  /* overflow-y: scroll; */
}

.leftside-container {
  width: 80%;
  /* height: 20vh; */
  display: grid;
  place-items: center;
  margin: auto;
  gap: 30px;
}

/* .leftside-container *{
  width: 100%;
} */





/* .rightside-container div {
  width: 20%;
  display: grid;
  place-items: center;
} */

/* .rightside-container:empty {
  width: 0;
  height: 0;
  place-items: center;
} */

.repeater-container {
  display: inline-flex;
  width: 50%;
  height: 100%;
  margin: auto;
  gap: 20px;
  animation: fadeInTop 2s ease 0s 1 normal forwards;
}

.main-text-container {
  width: 100%;
  height: 100%;

  background-color: var(--main-color);
  place-content: center;
  border-radius: 10px;
  box-shadow: 0px 0px 21px -1px var(--shadow-color);
  -webkit-box-shadow: 0px 0px 21px -1px var(--shadow-color);
  -moz-box-shadow: 0px 0px 21px -1px var(--shadow-color);
  cursor: text;
}

.main-text-container:focus {
  background-color: var(--opposite-color);
  color: var(--main-color);
  box-shadow: 0px 0px 21px -1px var(--shadow-color);
  -webkit-box-shadow: 0px 0px 21px -1px var(--shadow-color);
  -moz-box-shadow: 0px 0px 21px -1px var(--shadow-color);
}

.main-text-container:hover {
  background-color: var(--opposite-color);
  color: var(--main-color);
  box-shadow: 0px 0px 21px -1px var(--shadow-color);
  -webkit-box-shadow: 0px 0px 21px -1px var(--shadow-color);
  -moz-box-shadow: 0px 0px 21px -1px var(--shadow-color);
}

.generator-container {
  width: 25%;
  display: inline-flex;
  gap: 10px;
  place-content: center;
  border-radius: 10px;
}

.generator-container * {
  width: 50%;
}


.preview-container {
  width: 100%;
  height: 100%;
  margin: auto;
  display: grid;
  animation: fadeInTop 2s ease 0s 1 normal forwards;
}

.variable-container {
  width: 100%;
  /* padding: 25px; */
  height: auto;
  display: flex;
  place-items: center;
  margin: auto;
  /* border-color: rgb(116, 114, 114);
  border-style: solid;
  border-width: 5%; */
  animation: fadeInTop 2s ease 0s 1 normal forwards;
  /* animation: fadeOutBot 2s ease 0s 1 normal forwards; */
}

.results-container {
  /* border-color: rgb(116, 114, 114);
  border-style: solid;
  border-width: 5%; */
  width: 100%;
  height: auto;
  display: grid;
  place-content: center;
  margin: auto;
  max-height: 20%;
  animation: fadeInTop 2s ease 0s 1 normal forwards;
  /* animation: fadeOutBot 2s ease 0s 1 normal forwards; */
}


.content-div-results {
  width: 100%;
  height: 100%;
  min-width: 30vh;
  min-height: 10vh;
  max-width: 35vh;
  max-height: 25vh;
  display: grid;

  /* text-align: center;
  place-items: center; */
  /* overflow-y: scroll; */
  /* box-shadow: 0px 0px 21px -6px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 21px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 21px -6px rgba(0, 0, 0, 0.75);
  margin: auto;
  border-radius: 10px; */
}