.results-container {
    display: grid;
    gap: 10px;
}


.results-all-container {

    width: 100%;
    height: 100%;
    min-width: 30vh;
    min-height: 10vh;
    max-width: 35vh;
    max-height: 25vh;
    display: grid;
    text-align: center;
    place-items: center;
    background-color: var(--main-color);
    /* overflow-y: scroll; */
    box-shadow: 0px 0px 21px -6px var(--shadow-color);
    -webkit-box-shadow: 0px 0px 21px -6px var(--shadow-color);
    -moz-box-shadow: 0px 0px 21px -6px var(--shadow-color);
    margin: auto;
    border-radius: 10px;
    display: grid;

}

.results-table-header-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 0.09fr;
    background-color: var(--main-color);
    border-radius: 10px;
}

.results-table-header-container * {
    margin: auto;
}


.results-table-container {
    width: 100%;
    height: 100%;

    text-align: center;
    place-items: center;
    overflow-y: scroll;
    border-radius: 10px;
    margin: auto;

    display: grid;
    background-color: var(--main-color);
    background: linear-gradient(180deg, var(--gradient-color-start) 0%, var(--gradient-color-end) 100%);

}

.results-interaction-container {
    width: 100%;
    height: 100%;
    text-align: center;
/* 
    background-color: rgba(255, 255, 255, 0.03); */


    margin: auto;
    border-radius: 10px;
    display: inline-flex;
    gap: 5px;
}


.results-interaction-container button {
    background-color: var(--main-color);
    border-radius: 10px;
}

.results-interaction-container button:hover {
    background-color: var(--opposite-color);
    color: var(--main-color);

}