# Ignore dependency folders
client/node_modules
server/node_modules

# Ignore Root Folders
node_modules

# Ignore Bruno Environments
bruno/environments/

# Ignore build outputs
client/build

# Environment variables
*.env
.env.local
.env.production

# Logs
logs
*.log


client/.pnp
client/.pnp.js

# testing
client/coverage

# production
client/build

# misc
client/.DS_Store
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local

client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
