.App {
  text-align: center;
}

.App-header {
  background-color: color-mix(in srgb, var(--color-foregroundc) 90%, transparent);
  backdrop-filter: blur(10px);

  min-height: 10vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #f4f3ee;
  position: absolute;
  /* border: 1px solid #463f3a; */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

body.dark * {
  --main-color: #2d232e;
  --sub-color: #474448;
  --opposite-color: #f1dac4;
  --opposite-sub-color: #a69cac;

  --color-background: #0d0c1d;
  --color-foreground: #161b33;
  --gradient-color-start: #2d232e;
  --gradient-color-end: #474448;
  --text-color: #FFFFFF;
  --shadow-color: #FFFFFF;


  --image-grayscale: 50%;
  --image-opacity: 90%;

  /* background-color: #282c34 !important;
  color: white !important; */
  ;
}

body * {
  --main-color: #f4f3ee;
  --sub-color: #bcb8b1;
  --opposite-color: #8a817c;
  --opposite-sub-color: #463f3a;

  --color-background: #FFFFFF;
  --color-foreground: #282c34;
  --gradient-color-start: #f4f3ee;
  --gradient-color-end: #bcb8b1;
  --shadow-color: #102a43;




  --image-grayscale: 0;
  --image-opacity: 100%;

  /* background-color: white !important;
  ;
  color: #282c34 !important;
  ; */
}