.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

body.dark * {
  --main-color: #102a43;
  --sub-color: 	#486581;
  --opposite-color : #ffe070;
  --opposite-sub-color : #ffffff;

  --color-background: #102a43;
  --color-foreground: #486581;
  --gradient-color-start: #102a43;
  --gradient-color-end: #486581;
  --text-color:  #FFFFFF;
  --shadow-color : #FFFFFF;


  --image-grayscale: 50%;
  --image-opacity: 90%;

  /* background-color: #282c34 !important;
  color: white !important; */
  ;
}

body * {
  --main-color: #ffe070;
  --sub-color: #ffffff;
  --opposite-color : #102a43;
   --opposite-sub-color : #486581;

  --color-background: #FFFFFF;
  --color-foreground: #282c34;
  --gradient-color-start: #ffe070;
  --gradient-color-end: #ffffff;
  --text-color:  #102a43;
  --shadow-color : #102a43;




   --image-grayscale: 0;
  --image-opacity: 100%;

  /* background-color: white !important;
  ;
  color: #282c34 !important;
  ; */
}