.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

body.dark * {
  --main-color: #282c34;
  --color-background: #282c34;
  --color-foreground: #white;
  --gradient-color-start: #161313;
  --gradient-color-end: #2E2E2E;
  --text-color:  #FFFFFF;

  --image-grayscale: 50%;
  --image-opacity: 90%;

  /* background-color: #282c34 !important;
  color: white !important; */
  ;
}

body * {
  

  --color-background: #FFFFFF;
  --color-foreground: #282c34;
  --gradient-color-start: #F0F0F0;
  --gradient-color-end: #FFFFFF;
  --text-color:  #282c34;

   --image-grayscale: 0;
  --image-opacity: 100%;

  /* background-color: white !important;
  ;
  color: #282c34 !important;
  ; */
}